body{
    margin:0;
    padding:0;
    background:#202123;
    font-family:Arial, Helvetica, sans-serif;
}

.loginContainer{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#202123;
}

.loginCard{
    width:380px;
    background:#343541;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,.4);
}

.loginCard h1{
    color:white;
    text-align:center;
    margin-bottom:30px;
}

.loginCard form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.loginCard input{
    padding:14px;
    border:none;
    border-radius:8px;
    background:#40414f;
    color:white;
    font-size:16px;
}

.loginCard input::placeholder{
    color:#bdbdbd;
}

.loginCard button{
    padding:14px;
    border:none;
    border-radius:8px;
    background:#10a37f;
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

.loginCard button:hover{
    background:#0d8c6d;
}

.switchText{
    color:white;
    text-align:center;
    margin-top:15px;
}

.switchBtn{
    margin-top:8px;
    background:transparent !important;
    border:1px solid #10a37f !important;
}
.loginSubText{
    text-align: center;
    color: #9ca3af;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
}